@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
html{
    box-sizing: border-box;
    font-family: "Sarabun", sans-serif;
}
body{
    background: #02262e;
    color: #ffff;
    margin: 0;
}

.titulo_header{
    display: flex;
    justify-content: center;
    color: #feffa8;
    font-family: "Bungee", sans-serif;
    font-weight: 30;
    font-style: normal;
    border-bottom: 2px solid  #ffc736;
    box-shadow: 0 4px 8px -2px #ffff;
}
.nav_links{
    display: flex;
    justify-content: center;
    top: 0;
    position: sticky;
    z-index: 2;
    background-color: rgba(1, 7, 3, 0.7);
    padding:6px;
}
.link{
    color: #ffff;
    text-decoration: solid;
    font-family: "Bungee", sans-serif;
    margin-inline-start: 10px;
    border-radius: 10px solid #002a25;
    font-size: 20px;
}
.contenedor_descripcion{
    display: flex;
    align-items:center ;
    justify-content: center;
    width: 100%;
    margin-top: 20px;

}
.sobre_mi{
width: 600px;
}
.foto_perfil{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;

}